#modal-fullscreen-image {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}

#modal-footer-text {
  font-size: 1.2rem;
  margin: 0 auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
}
