:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

/* this is the background when expanding a galery picture */
.og-expander {
  background: #fff;
}

/* hide "Aiko Bormann" from the top left */
.desktop-menu-logo {
  display: none;
}


@media screen and (max-width: 765px) {
  .head-holder {
    padding-top: 150px;
  }
}
