.videos-list {
	list-style: none;
	padding: 23px 100px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.videos-list {
  .container {
    margin-bottom: 14px;
  }
}

.videos-list li {
  margin: 0;
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  font-size: 2em;
  z-index: 10;
  color: white;
}

.icon-play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 2px;
}

.video-container {
  cursor: pointer !important;
}

.video-disabled {
  display: none;
}

.video-iframe {
  z-index: 11;
}

.video-description {
  text-align: left;
  color: #5D6679;
}

.video-description.title {
  font-weight: bold;
}

.youtube-playlist-container {
  margin-top: 3em;
  color: #5D6679;
  font-size: 1.25em;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  .youtube-link {
    text-decoration: none;
    color: inherit;
  }
  .youtube-icon {
    font-size: 3em;
  }
}

/* matches mobile-menu trigger */
@media screen and (max-width: 765px) {
  .videos-list {
    padding: 0 5px;
  }
  .video-description {
    padding-top: 1px;
    font-size: 1em;
  }
}
