.videos-list {
	list-style: none;
	padding: 20px 100px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.videos-list li {
  margin: 0;
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  font-size: 2em;
  z-index: 10;
  color: white;
}

.icon-play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 2px;
}

.video-container {
  cursor: pointer !important;
}

.video-description {
  flex: 1 1 0px;
}

.video-disabled {
  display: none;
}

.video-iframe {
  z-index: 11;
}

.video-description > h4 {
  padding-right: 20px;
  padding-left: 20px;
}

/* matches mobile-menu trigger */
@media screen and (max-width: 765px) {
  .videos-list {
    padding: 0 5px;
  }
}
